MONGODB_URI=mongodb+srv://username:password@cluster0.pfmi5ib.mongodb.net/?retryWrites=true&w=majority&appName=ArbudaFashion
NODE_ENV=production
JWT_SECRET=your-super-secret-jwt-key-change-in-production

